* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  border: 0.3rem solid black;
  display: flex;
  flex-wrap: wrap; /*Acomodar elementos si no caben*/
  justify-content: center;
}
.box {
  width: 10rem;
  height: 10rem;
}
.box1 {
  background-color: blue;
}
.box2 {
  background-color: brown;
}
.box3 {
  background-color: chartreuse;
}
.box4 {
  background-color: coral;
}
.box5 {
  background-color: crimson;
}
.box6 {
  background-color: cyan;
}